
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;800&display=swap');


* {
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('snow.jpg') no-repeat center center;
    background-size: cover;
}

.box {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 350px;
    height: 500px;
    background-color: transparent;
    box-shadow: 0px 0px 40px 1px black;
    border-radius: 10px;
    background: url('blur-just.jpg') no-repeat center center;
    background-size: cover;
    gap: 40px;
}

.search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid orange;
    background-color: white;
    border-radius: 10px;
    transition: 0.3s;
    width: 300px;
    box-shadow: 0px 0px 20px orange;
}

input {
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px;
    background-color: white;
    text-shadow: 0px 0px 10px orange;
    color: orange;
}

.search:hover {
    transform: scale(1.1);
    filter: invert(1);
}

.icon {
    border: none;
    color: orange;
    border-left: 1px orange solid;
    background-color: transparent;
    outline: none;
    transform: scale(1.1);
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

hr {
    width: 90%;
}

.data-2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    transform: scale(0.8);
    margin-top: -40px;
}

.mini-data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.weather {
    width: 300px;
    height: 380px;
    background-color: rgba(0, 0, 0, 0.271);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: 0.4s;
    filter: blur(0.6px);
}

.weather:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0);
    text-shadow: 2px 5px 10px black;
    filter: blur(0px);
}

.type {
    font-size: 70px;
}
